[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pudb = "*"
ipython = "*"

[packages]
django-formtools = "*"
django-crispy-forms = "*"
django = "*"

[requires]
python_version = "3.6"
